/* Prevent adjustments of font size afer orientation changes in IE on Windows Phone and in iOS */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body stlyings */
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  font-size: 16px;
  div#picWrapper {
    background-image: url(../images/pauline-loroy31bajeBvQFk-unsplash-small.jpg);
  }
}

/* ------------------------- header ------------------------- */
header {
  //background-color: $secondaryColor;

  color: $accent;
  padding: 12px $gutter;
  border-bottom: 5px solid $accent;

  form {
    float: right;
  }
  form input {
    width: 6rem;
    border-radius: 10px;
    margin-right: $gutter;
    padding: 0.2rem;
    border: none;
    transition: width 0.5s;
  }
  form input:focus {
    width: 8rem;
  }

  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.3rem;
  }
} // end header

/* ------------------------- navigation ------------------------- */
div#navWrapper {
  //background-color: $secondaryColor;
  border-top: 5px solid $primaryColor;
}
nav {
  button {
    margin: 0.2rem $gutter;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: $accent;
  }

  ul {
    list-style-type: none;
    padding-left: $gutter;
    margin: 0;
    border: none;
  }
  ul.hide {
    display: none;
  }
  ul li {
    border: none;
    //float: left;
    //width: (100/4)*1%;
    //border-right: 1px solid rgba(0,0,0,0.3);
    //border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  //ul li:last-child {border-right: 1px solid rgba(0,0,0,0.3);}
  ul li a {
    display: block;
    //text-align: center;
    font-weight: $boldWeight;
    //padding: .5rem 0;
    padding: 0.8rem $gutter;
    color: $accent;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transition: background 0.75s ease, color 0.75s ease;
  }

  ul li a:hover {
    color: lighten($secondaryColor, 10%);
    background-color: $primaryColor;
  }
  ul li.active a {
    background-color: darken($secondaryColor, 15%);
    color: lighten($accent, 15%);
  }
} //end nav

/* ------------------------- main ------------------------- */
//div#mainWrapper {}
main {
  background-color: #fff;
  figure {
    width: 100%;
    margin: 0 auto;
  }

  figure img {
    width: 100%;
  }

  

  h1 {
    font-size: 2rem;
    padding: .5rem $gutter;
    color: $primaryColor;
  }
 
  h2 {
    font-size: 1.5rem;
    padding: .5rem $gutter;
    color: $primaryColor;
  }

  p {
    line-height: 120%;
    color: $fontColor;
    margin: 0.75rem;
  }


  hr.fadeAway {
    background: linear-gradient(
      to right,
      rgba(29, 93, 133, 1) 0%,
      rgba(29, 93, 133, 0) 100%
    );
    height: 4px;
    border: none;
    margin: 0.5rem $gutter;
  }
} // end main

/* ------------------------- footer ------------------------- */
div#footerWrapper {
  background-color: $secondaryColor;
  border-top: 5px solid $accent;
}

footer {
  width: 100%;
  padding: 10px $gutter;
  //border-top: 3px solid darken($fontColor, 15%);
  text-align: center;

  p {
    color: darken($fontColor, 15%);
    font-size: 1.1rem;
  }
}

/* Stay open (don't collapse) */
.stayopen:after {
  content: "";
  display: table;
  clear: both;
}
