$primaryColor: #617480;
$secondaryColor: #8cac0a;
$accent: #1D5D85;
$fontColor: #343434;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'PT Sans Narrow', sans-serif;
$normalWeight:400;
$boldWeight:700;